/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; /* Lighter gray background */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height of viewport */
    color: #333; /* Default text color */
}

.container {
    width: 80%;
    margin: 0 auto; /* Center align content */
    padding: 20px;
}

h1 {
    color: rgb(255, 255, 255); /* White title color */
}
h2, h3 {
	color: rgb(128, 0, 255);
}

.wrapper {
    background-color: #4CAF50; /* Green color theme */
    text-align: center;
    padding: 20px 0;
}

/* Navbar styles */
.navbar {
    background-color: #4CAF50; /* Green color theme */
    overflow: hidden;
    padding: 10px 20px; /* Increased padding for navbar */
    margin-bottom: 20px; /* Added margin-bottom to separate from content */
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #45a049; /* Darker shade of green */
}

.login-button {
    float: right;
}

/* Content styles */
.content {
    flex: 1; /* Take remaining space */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
    width: 60%;
    padding: 8px; /* Adjust padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    padding: 8px; /* Adjust padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50; /* Green color theme */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker shade of green */
}

/* Footer styles */
footer {
    margin-top: auto; /* Pushes footer to bottom */
    text-align: center;
    color: #4CAF50; /* Green color theme */
    font-size: 14px;
    padding: 10px 0;
    background-color: #4CAF50; /* Green color theme */
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
}

/* Links styles */
a {
    color: #4CAF50; /* Green color theme */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Error message */
.error {
            color: red; /* Set color to red */
            font-size: 0.8em; /* Optional: Adjust font size */
            margin-top: 5px; /* Optional: Adjust spacing */
        }
