<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="wrapper">
        <h1>Welcome to Blog Service</h1>
    </div>
    <div class="navbar">
        <a th:href="@{/}" href="/">Home</a>
        <a th:href="@{/blogs}" href="/blogs">View Latest Blogs</a>
        <a th:href="@{/blogs/new}" href="/blogs/new">Create a New Blog</a>
        <a th:href="@{/register}" href="/register">Registration</a>
		<a th:if="${session.loggedInUser == null}" th:href="@{/login}" href="/login" class="login-button">Login</a>
		        <a th:if="${session.loggedInUser != null}" th:href="@{/logout}" href="/logout" class="logout-button">Logout</a>
    </div>
    <div class="container">
        <div class="content">
            <h1>Comments</h1>
            <ul>
                <li th:each="comment : ${comments}" th:text="${comment}"></li>
            </ul>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Blog Service. All rights reserved.</p>
    </footer>
</body>
</html>
